html 
{
    background-color: orange;
}

h1 {
    text-align: center;
    background-color: orangered;
}

img {
    display: block;
    margin: auto; 
    height: 300;
    width: 300;
}

div {
    display: block;
    margin:auto; 
    padding: 5px; 
    margin: 5px; 
}

.mamiferos 
{
    float:left;
     width: 30%;
     padding:5px;
     display:block;
}

p {
    text-align: center;
}

.volver
{
    float:right;
    position:fixed;
    bottom:-10px;
    background-color: orangered;
    padding: 5px;
    margin: 5px;
}
